.libary{
    padding: 0 150px;
        .libary__link{
            margin-top: 55px;
            .libary__links{
                list-style: none;
                display: flex;
                justify-content: space-around;
                .libary__items{
                margin: 0 5px;
                font-family: Noto Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 25px;
                cursor: pointer;
                &:hover{
                    transition: all 0.6s ease;
                    color: #BC2E31;
                }
            }
        }
    }
    .libar__btn{
        margin-top: 55px;
        display: flex;
        margin-bottom: 55px;
        .filtr{
            button{
                img{
                    width:  26px;
                    height: 22px;
                }
                .short__false{
                    font-size: 24px;
                }
            }
        }
        button{
            img{
                width:  36px;
                height: 22px;
            }
            border: none;
            background-color: transparent;
            outline: none;
            margin: 5px;
            cursor: pointer;
           
        }
    }
    .libary__content__wrapper__vertical{
        margin-top: 55px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr  ;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        text-align: center;
        .libary__content__vertical{
            margin: 15px;
            display: flex;
            align-items: center;
           
            flex-direction: column;
            img{
                align-self: baseline;
                margin: 0 auto;
                height: 40%;
            }
            p{
                margin: 10px 0;
                padding: 0 30px;
                line-height: 30px;
                height: 30%;
            }
            .download__lib{
                margin: 10px;
                height: 20%;
                display: flex;
                justify-content: center;
                img{
                    margin: 5px;
                }
                b{
                    margin: 5px;
                }
            }
        }
    }




    .libary__content__wrapper__horizontal{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr ;
        text-align: center;
        .libary__content__horizontal{
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 15px;
            .horiz__child:nth-child(1){
                width: 40%;
                height: 100%;
                img{
                   
                    width: 55%;
                    height: 100%;
                }
            }
            .horiz__child:nth-child(2){
                width: 60%;
                .title__horiz{
                   
                    width: 344px;
                    height: 84px;
                    border: 1px solid #AFAAAA;;
                    p{
                        text-align: left;
                        padding:0 20px;
                    }
                   
                }
                .download__lib__horiz{
                    display: flex;
                    align-items: center;
                    align-self: baseline;
                    margin-top: 10px;
                    b{
                        margin: 0 15px;
                    }
                    button{
                        padding: 4px 7px;
                        background-color: #892123;
                        border: none;
                        color: white;
                        outline: none;
                        cursor: pointer;
                        &:hover{
                            transition: 0.5s ease;
                            background-color: black;
                            color: white
                            ;
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width:1200px) {
    .libary{
        padding: 0 120px;
        .libary__content__wrapper__horizontal{
            .libary__content__horizontal{
                .horiz__child:nth-child(2){
                    .title__horiz{
                        width: 280px;
                    }
                }
            }
        }
    }

}
@media screen and (max-width:1100px) {
    .libary{
        padding: 0 110px;
        .libary__link{
            .libary__links{
                flex-wrap: wrap;
                align-items: center;
                .libary__items{
                  margin: 25px;
                }}}
        .libary__content__wrapper__vertical{
            grid-template-columns: 1fr 1fr 1fr  ;
            grid-template-rows: 1fr 1fr 1fr ;
         
        }
       
    }

}
@media screen and (max-width:1050px) {
    .libary{
        padding: 0 100px;
        .libary__content__wrapper__horizontal{
            .libary__content__horizontal{
                .horiz__child:nth-child(2){
                    .title__horiz{
                        width: 250px;
                    }
                }
            }
        }
      
    }

}
@media screen and (max-width:950px) {
    .libary{
        padding: 0 80px;
        .libary__content__wrapper__horizontal{
            grid-template-columns: 1fr ;
            grid-template-rows: 1fr  ;
            .libary__content__horizontal{
                .horiz__child:nth-child(1){
                    width: 40%;
                    height: 100%;
                    img{
                       
                        width: 40%;
                        height: 100%;
                    }
                }
                .horiz__child:nth-child(2){
                    .title__horiz{
                        width: 380px;
                    }
                }
            }
           
        }
    
    }

}
@media screen and (max-width:760px) {
    .libary {
        padding: 0 30px;
        .libary__content__wrapper__horizontal{
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            
            .libary__content__horizontal{
                flex-direction: column;
                align-items: center;
                align-self: center;
               
                .horiz__child:nth-child(1){
                    width: 60%;
                }

                .horiz__child:nth-child(2){
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin: 15px 0;
                    width: 100%;
                    .title__horiz{
                        width: 380px;
                    }
                    .download__lib__horiz{
                        margin: 20px auto;
                    }
                }
            }
        }
    }
}


@media screen and (max-width:640px) {
    .libary{
        padding: 0 40px;
        .libary__content__wrapper__vertical{
            grid-template-columns: 1fr  1fr  ;
            grid-template-rows: 1fr 1fr ;
         
        }
        .libary__link{
           
              .libary__links{
                 justify-content: center;
                  .libary__items{
                     
                    margin: 13px ;
                    text-align: center;
                  }}}

    }

}

@media screen and (max-width:460px) and (min-width:320px) {
    .libary{
        .libary__content__wrapper__horizontal{
            .libary__content__horizontal{
                .horiz__child:nth-child(2){
                 display: flex;
                 flex-direction: column;
                 align-items: center;
                 justify-content: center;
                    .title__horiz{
                        width: 250px;
                        
                    }
                    .download__lib__horiz{
                        margin-left: 50px;
                    }
                }
            }
        }
    }
}




@media screen and (max-width:450px) {
    .libary{
        padding: 0 15px;
        .libary__link{
          list-style: none;
            .libary__links{
                all: unset;
                flex-wrap: wrap;
                align-items: center;
                .libary__items{
                   
                  margin: 10px 0;
                  text-align: center;
                }}}
        .libary__content__wrapper__vertical{
            grid-template-columns: 1fr    ;
            grid-template-rows: 1fr  ;
         
        }
        .libary__content__wrapper__horizontal{
            .libary__content__horizontal{
                .horiz__child:nth-child(2){
                    .title__horiz{
                        width: 250px;
                        
                    }
                }
            }
        }
    }
    

}
@media screen and (max-width:320px) {
    .libary{
        .libary__content__wrapper__horizontal{
            .libary__content__horizontal{
                .horiz__child:nth-child(2){
                    .title__horiz{
                        width: 220px;
                        
                    }
                }
            }
        }
    }
}